<div id="header">
  <div class="container-fluid wrap">
    <h1 id="logo">JUXT</h1>
  </div>
</div>

<div class="container-fluid wrap">
  <div class="row-fluid">
    <div class="span11">
      <h4><i>Software practitioners using Clojure to solve complex business problems</i></h4>
    </div>
  </div>
</div>

<hr class="row-divider"/>

<div class="container-fluid wrap">
  <div class="row-fluid">
    <div class="span6">
      {{#markdown}}intro.md{{/markdown}}
      {{#markdown}}contact.md{{/markdown}}
    </div>
    <div class="span6" style="border: 2px solid black; padding: 4px">
      {{#markdown}}news.md{{/markdown}}
    </div>
  </div>
</div>

<section  class="clear-fix" style="background:lightblue">
<div class="container-fluid wrap">
  <div class="row-fluid">
    <div class="span4">
      <div class="service">
<!--
        <div class="service-icon">
          <span class="service-icon lsf-icon" title="pencil"></span>
        </div>
-->
        {{#markdown}}training.md{{/markdown}}
      </div>
    </div>
    <div class="span4">
      <div class="service">
<!--
        <div class="service-icon">
          <span class="lsf-icon" title="gear"></span>
        </div>
-->
        {{#markdown}}consulting.md{{/markdown}}
      </div>
    </div>
    <div class="span4">
      <div class="service">
<!--
        <div class="service-icon">
          <span class="lsf-icon" title="arrowright"></span>
        </div>
-->
        {{#markdown}}speaking.md{{/markdown}}
      </div>
    </div>
  </div>
</div>
</section>

<section class="clear-fix" style="background:black">
  <div class="container-fluid wrap" style="color: #eee">
    <h1>Why Clojure?</h1>
<div style="font-size: 100%; line-height: 120%">
    {{#markdown}}clojure.md{{/markdown}}
</div>
  </div>
</section>

<section class="clear-fix" style="background:#888">
  <div class="container-fluid wrap" style="color: #222">
    <div class="span6">
    </div>
  </div>
</section>
