<div id="header">
  <div class="container-fluid">
    <h1 id="title">
      <span style="font-size: 200%">JUXT</span>
    </h1>
  </div> <!-- /container -->
</div> <!-- /header -->

<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span11">
        <h4><i>Software practitioners using Clojure to solve complex business problems</i></h4>
      </div>
    </div>
    <hr class="row-divider"/>
    <div class="row-fluid">
      <div class="span6">
        {{#markdown}}intro.md{{/markdown}}
      </div>
      <div class="span6">
        {{#markdown}}contact.md{{/markdown}}
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <div class="service">
          <div class="service-icon">
            <span class="lsf-icon" title="pencil"></span>
          </div>
          {{#markdown}}training.md{{/markdown}}
        </div>
      </div>
      <div class="span4">
        <div class="service">
          <div class="service-icon">
            <span class="lsf-icon" title="gear"></span>
          </div>
          {{#markdown}}consulting.md{{/markdown}}
        </div>
      </div>
      <div class="span4">
        <div class="service">
          <div class="service-icon">
            <span class="lsf-icon" title="arrowright"></span>
          </div>
          {{#markdown}}speaking.md{{/markdown}}
        </div>
      </div>
    </div>
  </div>
</div>
