<!DOCTYPE html>
<html prefix="dc: http://purl.org/dc/elements/1.1/" lang="en">
  <head>
    <title>JUXT</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="dc:language" content="en"/>
    <meta property="dc:title" content="JUXT"/>
    <meta property="dc:description" content="Juxt is a Clojure services company based in London."/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="css/juxt.css"/>
    <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrapper">
      <div class="container-fluid">
	<div class="navbar">
	  <div class="navbar-inner navbar-inverse" style="border:none">
	    <div class="pull-right">
	      <ul class="nav">
		<li class="active"><a href="index.html">Home</a></li>

	      </ul>
	    </div>
	  </div>
	</div>
      </div> <!-- /container -->
      <div id="header">
	<div class="container-fluid">
	  <h1 id="title">
            <span style="font-size: 200%">JUXT</span>
	  </h1>
	</div> <!-- /container -->
      </div> <!-- /header -->
      <div id="content">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span11">
              <h4><i>Software practitioners using Clojure to solve complex business problems</i></h4>
            </div>
          </div>
          <hr class="row-divider"/>
          <div class="row-fluid">
            <div class="span6">

              <p><b style="font-size: 140%">JUXT</b> is a network of experienced IT professionals who specialise in the Clojure programming language.

              <p>We have particular expertise in:
              <ul>
                <li>Introducing Clojure to large institutions
                <li>Building robust systems in Clojure
                <li>Training and coaching developers in the Clojure language.
              </ul>
              <p>Based in London, UK, and aiming to grow our network of professionals across Europe and beyond.</p>
	    </div>

	    <div class="span6">

              <p>If you want to find out more, why not meet us in London
              for a coffee and a chat.</p>

              <p><span class="lsf-icon" title="phone"></span>Call Malcolm on 07720538719 or Jon on 07773351861</p>

              <p><span class="lsf-icon" title="twitter"></span>You can also follow us on Twitter: @malcolmsparks @jonpither</p>

              <p><span class="lsf-icon" title="mail"></span>Or you can write to us: <a href="mailto:malcolm@juxt.pro">malcolm@juxt.pro</a> or <a href="mailto:jon@juxt.pro">jon@juxt.pro</a></p>
	    </div>

          </div>
          <hr class="row-divider"/>
<div class="row-fluid">
            <div class="span4">
              <div class="service">
                <div class="service-icon">
                  <span class="lsf-icon" title="pencil"></span>
                </div>
                <h4>Training</h4>
                <p>We provide 2-day training courses giving quick
                working knowledge of the fundamentals of the Clojure
                language.</p>
              </div>
	    </div>
            <div class="span4">
              <div class="service">
                <div class="service-icon">
                  <span class="lsf-icon" title="gear"></span>
                </div>
                <h4>Consulting</h4>
                <p>We can provide help in showing you how to get the
                most of our functional programming (and Clojure in
                particular) in your architecture, programme or
                project.</p>
              </div>
	    </div>
            <div class="span4">
              <div class="service">
                <div class="service-icon">
                  <span class="lsf-icon" title="arrowright"></span>
                </div>
                <h4>Speaking</h4>
                <p>If you are thinking about using Clojure in your
                organisation, ask us to give a talk to your colleagues
                about our experiences adopting Clojure in a commercial
                setting.</p>
              </div>
	    </div>
          </div>
	</div>
      </div>
      <div id="footer">
        <div class="container-fluid">
&copy; JUXT 2013
          <div class="row-fluid">
            <div class="span3">
	      <a href="http://twitter.com/malcolmsparks" class="lsf-icon" title="twitter">malcolmsparks</a>
	      <a href="http://twitter.com/jonpither" class="lsf-icon" title="twitter">jonpither</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/juxt.js"></script>
  </body>
</html>
