<!DOCTYPE html>
<html prefix="dc: http://purl.org/dc/elements/1.1/" lang="en">
  <head>
    <title>JUXT</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="dc:language" content="en"/>
    <meta property="dc:title" content="JUXT"/>
    <meta property="dc:description" content="Juxt is a Clojure services company based in London."/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="css/juxt.css"/>
<!--    <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'> -->
  </head>
  <body>
<!---    <div id="wrapper"> -->

	<div class="navbar">
	  <div class="navbar-inner navbar-inverse" style="border:none">
          <div class="wrap">
	    <div class="pull-right">
	      <ul class="nav">
		<li class="active"><a href="index.html">Home</a></li>
<!--
		<li class="active"><a href="training.html">Training</a></li>
		<li class="active"><a href="clients.html">Clients</a></li>
		<li class="active"><a href="articles.html">Articles</a></li>
		<li class="active"><a href="blogs.html">Blogs</a></li>
		<li class="active"><a href="about.html">About</a></li>
-->
	      </ul>
	    </div>
	  </div>
          </div>
	</div>

      {{{content}}}

      <div id="footer">
        <div class="container-fluid">
&copy; JUXT 2013
          <div class="row-fluid">
            <div class="span6">
	      <a href="http://twitter.com/malcolmsparks" class="lsf-icon" title="twitter">malcolmsparks</a>
	      <a href="http://twitter.com/jonpither" class="lsf-icon" title="twitter">jonpither</a>
            </div>
          </div>
        </div>
      </div>
<!--
    </div>
-->

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/juxt.js"></script>
  </body>
</html>
